.class{
    margin-bottom: 80px;
    width: auto;
    height: auto;
    background-color: #DFE1FF;
    @media screen and (max-width: 576px) {
        height: auto;
        background-color: white;
    }
}

.class .row{
    padding-top: 73px;
    display: flex;
    img{
        padding-top: 7px;
        width: 100%;
    }
    @media screen and (max-width: 576px) {
        img{
            width: 110%;
            box-shadow: 0px 10px 50px 0px #4047E220;
            margin-left: -1 * calc(1.5rem * .5);
        }
    }
    @media screen and (max-width: 990.5px) {
        img{
            padding-bottom: 50px;
        }
    }
}

.class__title{
    padding-bottom: 73px;
    p{
        font-size: 18px;
        color: #3F3A51;
        line-height: 25px;
    }
    @media screen and (max-width: 576px) {
        padding-bottom: 0;
        h2{
            margin-bottom: 25px;
        }
        p{
            font-size: 16px;
            margin-bottom: 30px;
        }
    }
}